<!DOCTYPE html>
<html>
<head>
    <title>%#%TITLE%#%</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="/templates/css/style.css" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo"><a href="/"></a></div>    <!--LOGO-->
        <div id="buy">
            <span>&nbsp;</span>
            %#%LOGINFORM%#%
        </div>
    </div>
    <div id="content">
        <span>&nbsp;</span>
        <h2>###LANG_AUTHENTICATION###</h2>           <!--content-->
        <!-- content -->
        %#%ORDER%#%
        <!-- content -->
        <div class="reviews"></div>             <!--cleaning-->
    </div>
    <div class="reviews"></div>             <!--cleaning-->
</div>
<script src="/templates/js/script.js"></script>
</body>
</html>
