<div align="center" id="contentIndex">
    <div id=contenrInfo>
<p><a href="/~user2/PHP/shop/Home/details/id/%#%BOOK_ID%#%" class="nameBook">%#%BOOK_NAME%#%</a></p>
<a href="/~user2/PHP/shop/Home/details/id/%#%BOOK_ID%#%" class="nameBook">
<img src="/~user2/PHP/shop/user_files/img/%#%BOOK_IMG%#%"></a>
<p><span id="priceBook">%#%BOOK_PRICE%#% $</span></p>
        <p><a href="%#%BOOK_PATH%#%">%#%BUYORCART%#%</a></p>
        <p><a href="/~user2/PHP/shop/Home/details/id/%#%BOOK_ID%#%" id="detailsBook">Details</a></p>
    </div></div>
