<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%START%#%">&laquo;</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%BACK%#%">&lt;</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%PAGE2L%#%">%#%PAGE2L%#%</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%PAGE1L%#%">%#%PAGE1L%#%</a>
<a class="navActive">%#%PAGE%#%</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%PAGE1R%#%">%#%PAGE1R%#%</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%PAGE2R%#%">%#%PAGE2R%#%</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%FORWARD%#%">&gt;</a>
<a href="/~user2/PHP/shop/%#%URI%#%/page/%#%END%#%">&raquo;</a>
