<div class="panel panel-default">
    <div class="panel-heading orderHead">
        <h4 class="panel-title">
            <a href="#collapse-%#%CNT%#%" data-parent="#accordion" data-toggle="collapse"><span>%#%DATAST%#%</span>
                <span id="sum">%#%TOTALPRICE%#% $</span><span id="status">%#%STATUS%#%</span></a>
        </h4>
    </div>
    <div id="collapse-%#%CNT%#%" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table table-striped"><tr><th>#</th><th>Book name</th><th>Quantity</th><th>Price</th></tr>
%#%ORDERBODY%#%
            </table></div></div></div>