<div align="center" id="contentIndex">
    <div id=contenrInfo>
        <p><a href="/~user2/PHP/shop/Admin/details/id/%#%BOOK_ID%#%" class="nameBook">%#%BOOK_NAME%#%</a></p>
        <a href="/~user2/PHP/shop/Admin/details/id/%#%BOOK_ID%#%" class="nameBook"><img src="/user_files/img/%#%BOOK_IMG%#%"></a>
        <p><span id="priceBook">%#%BOOK_PRICE%#% $</span></p>
        <p><a href="/~user2/PHP/shop/Admin/details/id/%#%BOOK_ID%#%" id="addBook">Details</a></p>
        <p><a href="/~user2/PHP/shop/Admin/update/id/%#%BOOK_ID%#%" id="updateBook">Update</a></p>
        <p><a href="/~user2/PHP/shop/Admin/delete/id/%#%BOOK_ID%#%" onclick="return confirmDelete();" id="delBook">Delete</a></p>
    </div></div>
