<div class="panel panel-default">
    <div class="panel-heading orderHead">
        <h4 class="panel-title">
            <a href="#collapse-%#%CNT%#%" data-parent="#accordion" data-toggle="collapse"><span>%#%DATAST%#%</span>
                <span id="sum">%#%TOTALPRICE%#% $</span><span id="mail">%#%MAIL%#%</span></a>
            <span id="status">%#%STATUSNAME%#%</span><span><form method="post" action="">
            <select name="sel"><option value="1"></option>%#%STATUS%#%</select></span>
            <span><input type="submit" name="%#%ORDER%#%" value="save"/></form></span>

        </h4>
    </div>
    <div id="collapse-%#%CNT%#%" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table table-striped"><th>#</th><th>Book name</th><th>Quantity</th><th>Price</th>
            %#%BODY%#%
            </table></div></div></div>