/*Cleaning*/
*{
	margin: 0;
	padding: 0;
}
/* wrapper*/

#wrapper {
	width: 766px;
	margin: 0 auto;
	outline: 0px solid #cc0000;
	background-image: url(/~user2/PHP/shop/templates/img/bg.png);
	background-repeat: repeat-y;
	background-color: #3b4347;
}

/*header*/

#header{ 
	outline: 0px solid #cc0000;
	height: 131px;
	position: relative;

}

#logo{   /*Logo*/
	width: 233px;
	height: 87px;
	outline: 0px solid #cc0000;
    background-image: url(/~user2/PHP/shop/templates/img/logo.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 22px;
	left:34px;
}

#logo a { /*Logo link*/
	display: block;
	height: 87px;
	cursor: pointer;
}

#buy{    /*admin*/
    right: 23px;
    top: 10px;
    position: absolute;
}

#exit input{
    color: #fff;
    background-color: #cc0000;
    padding: 2px 15px;
}

.admin input{           /*admin*/
    padding: 1px;
    margin-bottom: 2px;
}

#rememberMe{
    color: #b9be00;
    margin-top: 6px;
    text-align: center;
}
#rememberMe input{
    background-color: #b9be00;
    border: none;
    color: #fff;
}

.form-group{
    margin-top: 8px;
}

.form-group input{
    padding: 1px;
}

.adminlogin {           /*admin*/
    color: #fc7575;
    padding: 3px;
    text-decoration: none;
       
}

/*end header*/

/*nav*/

#menu{    /*menu*/
	height: 63px;
	outline: 0px solid #cc0000;
    background-image: url(/~user2/PHP/shop/templates/img/navBg.png);
	background-repeat: no-repeat;
	background-position: 22px 0;
    margin-bottom: 0px;
    
	
}

#menu li{
	float: left;
	outline: 0px solid #cc0000;
	list-style: none;
	margin-right: 50px;
	margin-top: 18px;
    display: inline;
}

.firstMenu{         /*first link menu*/
	margin-left: 90px;
    background-image: url(/~user2/PHP/shop/templates/img/navRaz.png);
    padding-left: 40px;
    background-position: left;
    background-repeat: no-repeat;
}
#menu li a:hover{
	color:#2c789c !important;
}
#menu li a{
	text-decoration: none;
	font:20px Arial, sans-serif;
	color:#ffffff;
	padding-right: 70px;
    background-image: url(/~user2/PHP/shop/templates/img/navRaz.png);
	background-repeat: no-repeat;
	background-position: right;
}

/*end nav*/

/*content*/

#content{  
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 22px 0px;
    background-size: contain;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    margin: 0 23px 0px 22px;
}

#cornerL{           /*left corner*/
	width: 12px;
	height: 13px;
	position: absolute;
    background-image: url(/~user2/PHP/shop/templates/img/cornerL.png);
	background-repeat: no-repeat;
	left: 0px;
}

#cornerR{           /*right corner*/
	width: 14px;
	height: 13px;
	position: absolute;
    background-image: url(/~user2/PHP/shop/templates/img/cornerR.png);
	background-repeat: no-repeat;
	right: 0px;
}

#contentIndex{          /*content*/
    overflow: hidden;
    width: 25%;
    float: left;
    margin: 0 10px 15px 40px;
    
}

#contenrInfo{
    text-align: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    
}

#priceBook {            /*price*/
    font: 16px Arial;
    margin-left: 10px;
    margin-bottom: 10px;
}

#contentIndex .nameBook{    /*name*/
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Overlock SC', cursive;
    color: #000;
}
#contenrInfo a:hover{
    color: #3c6737 !important;
}
#contentIndex img {             /*image*/
    border: 1px solid #e1e1e1;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 10px 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    float: left;
    margin-top: 5px;
}
#contenrInfo p{
    margin: 20px 0 10px 0;
}

#detailsBook{               /*details*/
    background-color: #b9be00;
    color: #fff;
    margin-left: 10px;
    padding: 0 3px 0 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#buyBook{               /*buy*/
    background-color: #2284be;
    color: #fff;
    margin-left: 10px;
    padding: 0 3px 0 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#toCart{               /*toCart*/
    background-color: #be3921;
    color: #fff;
    margin-left: 10px;
    padding: 0 3px 0 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}


.pager{                 /*nav*/
    text-align: center;
    border-top: 1px solid #ebf1f4;
    font: 15px Verdana;
    color: #2b8aba;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 250px;
}
.pager a{
    border: 1px solid #cccccc;
    color: #888888;
    font-size: 14px;
    padding: 0 3px;
    text-decoration: none;
    padding: 3px 3px;
}
.navActive{
    border: 1px solid #0196e3 !important;
    color: #888888;
    font-size: 14px;
    padding: 0 3px;
    text-decoration: none;
    padding: 5px 7px !important;
}
.pager a:hover{
    text-decoration: none;
    color: #2b8aba;
    border: 1px solid #0196e3 !important;
}  

/*end content*/

/* bookDetalis*/

#bookDetails h1{                /*Заглавие*/
    text-align: center;
    font: bold 20px Arial;
    padding: 15px 0 15px 0;
    margin-top: 0;
}

.productDetails{                /*img*/
    float: left;
    margin: 0 15px 0 40px;
}

#bookDetails .reviews p{            /*description*/
    font: 14px Arial;
    padding-right: 40px;
    text-indent: 30px;
 }
.reviewsContent{
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
}

#bookDetails p{
    font: 14px Arial;
    padding-right: 40px;
}
.productDetails img{
    width: 210px;
}

.detailsfirst{                  /*author*/
    padding-top: 10px;
}

#bookDetails h2{
    font: 20px Arial;
}


#contenrInfo img{
    width:auto;
    max-width:75px;
    max-height:119px;
    height:auto;
}
#addBookDet{
    background-color: #bb2a01;
    color: #fff;
    padding: 5px 10px 5px 10px; 
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

 
}
.reviews{           /*cleaning*/
    clear: both; 
    padding-top: 30px;
 }

#formbuy{               /*form*/
    position: relative;
}
#formbuy input{
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #333;
    padding: 2px 3px;
}
#formbuy p{
    font: 14px Arial,sans-serif !important;
    padding: 2px;
}

#submitMail {           /*send email*/
    position: absolute;
    bottom: 15px;
    right: 100px;
    background-color: #cc0;
    padding: 5px 30px!important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#formbuy .quantity{
    width: 40px;
    margin-left: 18px;
}

.firstMenuDetails{
	margin-left: 55px;
    background-image: url(/~user2/PHP/shop/templates/img/navRaz.png);
    padding-left: 30px;
    background-position: left;
    background-repeat: no-repeat;
}

/*end bookDetalis*/

/*authors*/

.pagerAuthors{
    text-align: center;
    padding: 10px;
}

.pagerAuthors a{
    padding-left: 7px;
}

.fieldAuthors{
    margin-left: 40px;
    padding-top: 10px;
}

.authorsCol{                /*list author*/
    -webkit-column-count: 3;
    -webkit-column-width: 100px;
    padding-top: 20px;
    padding-bottom: 10px; 
    text-align: center;
    font: 14px Arial;
}

#content h2{
    text-align: center;
    margin-top: 0;
}

.authorsCol a{
    font: 14px Arial;
}

.authorsCol li{
        padding-bottom: 10px;
    
}
/*end authors*/

/*genre*/

#genre h2{                  
    text-align: center;
    padding-top: 10px;
    font: 30px Arial;
}

.genreCol{                  /*list genre*/
    -webkit-column-count:2;
    -webkit-column-width: 100px;
    padding-top: 20px;
    text-align: center;
}
.genreCol li{
    font: 20px Arial;
    padding-bottom: 20px;
 }
/*end genre*/

#formVal span{
    color: #cc0000;
}

#buy span{
    color: #cc0000;
}
#exampleInputPassword3{
    margin-left: 10px;
}
#nameSession{
    color: rgb(146, 163, 0) !important;
}

#totalPrice{
    text-align: right;
    margin-right: 65px;
}

#totalPrice input{
    margin-left: 30px;
    padding: 3px 15px;
}

.deleteFromCart{
    cursor: pointer;
}
.up{
    cursor: pointer;
}
.down{
    cursor: pointer;
}

.orderList{
    margin: 0px 10px;
}
#sum{
    margin-left: 90px;
}
#status{
    margin-left: 245px;
}
