        <span>&nbsp;</span>
       <h2>###LANG_CART###</h2>           <!--content-->
        <!-- content -->
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Book name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        %#%LISTCHOISEBOOK%#%
        </table><hr><p id="totalPrice"><span>Total: <span  class="totalSum">%#%PRICE%#%</span> $</span><a href="/Checkout/index/">
            <input type="submit" class="btn btn-default btn-xs" value="Buy" name="buyTooOrder" %#%DISABLE%#% />
        </a></p>