<div id="exit">
    <form action="" method="post"><input type="submit" value="en" name="leng"><span></span><span><input type="submit" value="ru" name="leng"></span></form>
    <form action="/~user2/PHP/shop/Regestration/logout/" method="post">
        <span>Hello <span id="nameSession">%#%LOGINMENU%#%</span></span>
        <input type="submit" class="btn btn-default btn-xs" value="Exit" name="exit"></div></form>
<a href="/~user2/PHP/shop/Cart/index"><span class="glyphicon glyphicon-shopping-cart"> My cart</span></a><br>
<a href="/~user2/PHP/shop/Order/index/"><span class="glyphicon glyphicon-home"> My cabinet</span></a>
