<h2>Authentication</h2>
<hr>
<form class="simple-form col-md-6 col-md-offset-3 well" name="auth" id="formVal" method="POST">
    <div class="row">
        <a href="/Regestration/adduser/">Regestration</a>
    </div>
    <br />
    <div class="row">
        <div>
            <label>E-mail:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" />
        </div>
    </div>
    <div class="row">
        <div>
            <label>Password:</label>
            <input type="password" placeholder="Password" class="form-control" name="password" />
        </div>
    </div>
    <span>%#%ERRORLOGIN%#%&nbsp</span>
    <br />
    <br />
    <div class="row col-sm-offset-3">
        <div>
            <a href="/" class="btn btn-default">Back</a>
            <button class="btn btn-default" name="signin">Log in</button>
        </div>
    </div>

    <div class="row">
        <div id="rememberMe">
            <div class="checkbox"><label><input type="checkbox" name="remember"> Remember me</label></div>
        </div>
    </div>
</form>
