<!DOCTYPE html>
<html>

<head>
    <title>%#%TITLE%#%</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link href="/~user2/PHP/shop//templates/css/style.css" type="text/css" rel="stylesheet">
    <base href="/~user2/PHP/shop/" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <a href="./"></a>
            </div>
            <!--LOGO-->
            <div id="buy">
                <span>&nbsp</span> %#%LOGINFORM%#%
            </div>
        </div>
        <ul id="menu">
            <!--menu-->
            <li class="firstMenu"><a href="./">###LANG_BOOK###</a>
            </li>
            <li><a href="./Home/authors/">###LANG_AUTHORS###</a>
            </li>
            <li><a href="./Home/genres">###LANG_GENRE###</a>
            </li>
        </ul>
        <div id="content">
            <!--content-->
            <div id="cornerL"></div>
            <div id="cornerR"></div>
            <!-- content -->
            %#%BOOKLIST%#%
            <!-- content -->
            <div class="reviews"></div>
            <!--cleaning-->
            <div class="pager">
                <!--pager menu-->
                %#%PAGENAV%#%
            </div>
        </div>
        <div class="reviews"></div>
        <!--cleaning-->
    </div>
    <script src="/~user2/PHP/shop/templates/js/script.js"></script>
</body>

</html>
