<!DOCTYPE html>
<html>
<head>
    <title>%#%TITLE%#%</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link href="/~user2/PHP/shop/templates/css/style.css" type="text/css" rel="stylesheet">


</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo"><a href="/~user2/PHP/shop/"></a></div>    <!--LOGO-->
        <div id="buy">
            <span>&nbsp;</span>
            %#%LOGINFORM%#%
        </div>
    </div>
    <div id="content">
        <span>&nbsp;</span>
        <h2>###LANG_ORDER###</h2><!--content-->
            <div class="row orderList">
                <div class="col-md-12">
                    <div id="accordion" class="panel-group">
                        %#%ORDERLIST%#%
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
<!-- content -->
        <!-- content -->
        <div class="reviews"></div>             <!--cleaning-->
    </div>
    <div class="reviews"></div>             <!--cleaning-->
</div>
</body>
</html>
